// myTheme.
// layer
.header-inner, .main-inner, .footer-inner{
  width: 85%;
}

// header
.logo-line-before,.logo-line-after{
  display: none;
}
body,h1,h2,h3,h4,h5,h6{
  font-family: Athelas, STHeiti, Microsoft Yahei, serif;
}
.site-title{
  font-family: 'Segoe Script', 'Segoe Print', 'Freestyle Script', 'Ink Free';
  font-size: 36px!important;
}
.menu-item-active a{
  color:#007fff;
}
.menu .menu-item a{
  font-family: Athelas, STHeiti, Microsoft Yahei, serif;
  font-size:14px;
  &:hover{
    color:purple;
  }
}
.posts-expand .post-title-link::before{
  background-color: #c05b4d;
}
.post-button a{
  color:#c05b4d;
  border:none;
  &:hover{
    color:#c05b4d;
    text-decoration:underline;
  }
}
